/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 15px solid green;
}

/* Estilos del contenido principal */
main {
    display: flex;
    justify-content: space-between;
}

.contenido {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

article {
    flex: 3; /* Ocupa más espacio que el aside */
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

aside {
    flex: 1; /* Ocupa menos espacio */
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    border: 15px solid green;
}
